<h2> Hello world!</h2>

<% first_product = Product.first %>
<% second_product = Product.where("price > 500").first %>

<p>
Product Name: <%= first_product.name %> costs $<%= first_product.price %>
</p>
<p>Seller Name: <%= first_product.user.name %></p>
<p>--</p>

<p>
Product Name: <%= second_product.name %> costs $<%= second_product.price %>
</p>
<p>Seller Name: <%= second_product.user.name %></p>
<p>--</p>
<p>Total products in database: <%= Product.count %> </p>

